<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCaseargMapper">
    
    <resultMap type="SysCasearg" id="SysCaseargResult">
        <result property="caseId"    column="case_id"    />
        <result property="busisystemCode"    column="busiSystem_code"    />
        <result property="busisystemName"    column="busiSystem_name"    />
        <result property="interfaceName"    column="interface_name"    />
        <result property="caseName"    column="case_name"    />
    </resultMap>

    <sql id="selectSysCaseargVo">
        select case_id, busiSystem_code, busiSystem_name, interface_name ,case_name from sys_casearg
    </sql>

    <select id="selectSysCaseargList" parameterType="SysCasearg" resultMap="SysCaseargResult">
        <include refid="selectSysCaseargVo"/>
        <where>  
            <if test="busisystemCode != null  and busisystemCode != ''"> and busiSystem_code = #{busisystemCode}</if>
            <if test="busisystemName != null  and busisystemName != ''"> and busiSystem_name like concat('%', #{busisystemName}, '%')</if>
            <if test="interfaceName != null  and interfaceName != ''"> and interface_name like concat('%', #{interfaceName}, '%')</if>
            <if test="caseName != null  and caseName != ''"> and case_name like concat('%', #{caseName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysCaseargByCaseId" parameterType="Long" resultMap="SysCaseargResult">
        <include refid="selectSysCaseargVo"/>
        where case_id = #{caseId}
    </select>
        
    <insert id="insertSysCasearg" parameterType="SysCasearg" useGeneratedKeys="true" keyProperty="caseId">
        insert into sys_casearg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busisystemCode != null">busiSystem_code,</if>
            <if test="busisystemName != null">busiSystem_name,</if>
            <if test="interfaceName != null">interface_name,</if>
            <if test="caseName != null">case_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busisystemCode != null">#{busisystemCode},</if>
            <if test="busisystemName != null">#{busisystemName},</if>
            <if test="interfaceName != null">interface_name,</if>
            <if test="caseName != null">#{caseName},</if>
         </trim>
    </insert>

    <update id="updateSysCasearg" parameterType="SysCasearg">
        update sys_casearg
        <trim prefix="SET" suffixOverrides=",">
            <if test="busisystemCode != null">busiSystem_code = #{busisystemCode},</if>
            <if test="busisystemName != null">busiSystem_name = #{busisystemName},</if>
            <if test="interfaceName != null">interface_name = #{interfaceName},</if>
            <if test="caseName != null">case_name = #{caseName},</if>
        </trim>
        where case_id = #{caseId}
    </update>

    <delete id="deleteSysCaseargByCaseId" parameterType="Long">
        delete from sys_casearg where case_id = #{caseId}
    </delete>

    <delete id="deleteSysCaseargByCaseIds" parameterType="String">
        delete from sys_casearg where case_id in 
        <foreach item="caseId" collection="array" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </delete>

</mapper>